@model GuestViewModel
@{
    ViewData["Title"] = "Edit Guest";   
}


<h2>Edit Guest</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input asp-for="PhoneNumber" class="form-control" required />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/Admin/Guest" class="btn btn-secondary">Cancel</a>

</form>
